<%- include("partials/header.ejs"); -%>
<h1> Home </h1>
<p> <%= homeContent %> </p>

<% content.forEach(function(element){ %>
  <h1> <%= element.topic %></h1>
  <p> <%= element.content.substring(0,100) + "..." %><a href="post/<%= element.topic %>">read more</a>  <p>
<% }); %>
<%- include("partials/footer.ejs"); -%>
