<%- include("partials/header.ejs"); -%>
<h1> Home </h1>
<p> <%= homeContent %> </p>

<% content.forEach(function(element){ %>
  <h1> <%= element.title %></h1>
  <p> <%= element.body.substring(0,100) + "..." %><a href="post/<%= element.title %>">read more</a>  <p>
<% }); %>
<%- include("partials/footer.ejs"); -%>
