<%- include("partials/header.ejs"); -%>
<div class="courses">
  <h1><%=coursename %><h1>
  <!-- <form method="post">
    <div class="form-group">
      <input name="question" class="form-control-lg" placeholder="Questions"></input>
    </div>
    <div class="form-group">
      <input name="option1" class="form-control-lg" placeholder="Option 1"></input>
      <input name="option2" class="form-control-lg" placeholder="Option 2"></input>
      <input name="option3" class="form-control-lg" placeholder="Option 3"></input>
      <input name="option4" class="form-control-lg" placeholder="Option 4"></input>
    </div>
    <button class="btn btn-lg btn-primary">Submit</button>
  </form> -->
  <a class="btn btn-lg btn-primary" href="/<%=coursename%>/viewquestions">View Questions</a>
  <a class="btn btn-lg btn-primary" href="/<%=coursename%>/createquestions">Create Questions</a>
  <a class="btn btn-lg btn-primary" href="/">Edit Questions</a>
  <a class="btn btn-lg btn-primary" href="/">Delete Questions</a>
<%- include("partials/footer.ejs"); -%>
